.carousel-container {
  position: relative;
  max-width: 1000px;
  width: 100%;
  margin: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.carousel-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.8s ease-in-out;
  max-width: 80%;
}

.fade {
  animation: fadeEffect 0.8s;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.carousel-content {
  display: flex;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.carousel-text {
  flex: 1;
  padding: 20px;
  
}

.carousel-meta {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.carousel-title {
  font-weight: bold;
  margin-bottom: 10px;
  font-family: var(--font-text-SSP);
}

.carousel-title:hover {
  color: #838892;
  cursor: pointer;
  transition: 0.3s;
}

.carousel-description {
  color: #555;
  margin-bottom: 15px;
}

.carousel-author {
  display: flex;
  align-items: center;
  gap: 10px;
}

.carousel-image {
  flex: 1;
  aspect-ratio: 1/1;
  background-size: cover;
  background-position: center;
  min-height: 250px;
  border-radius: 10px;
  max-width: 400px;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  transition: background 0.3s;
}

.carousel-btn:hover {
  background: rgba(0, 0, 0, 0.7);
}

.carousel-btn.left {
  left: 0px;
}

.carousel-btn.right {
  right: 0px;
}

.carousel-btn:disabled {
  background: rgba(0, 0, 0, 0.3);
  cursor: not-allowed;
}

/* Hide arrows on mobile */
@media (max-width: 600px) {
  .carousel-btn {
    display: none;
  }

  .carousel-content {
    flex-direction: column;
    text-align: center;
  }
}
