:root {
  --primary-color: #3670c6;
  --secondary-color: #6c95ff;
  --black: #000000;
  --dark: #212529;
  --white: #fefbfb;
  --white-1: #F3F3F3;
  --text-color: #006073e4;
  --text-color-blue: #3670C6;
  --color: #00A97F;

  --color-tag-1: #ffcda3;
  --color-tag-2: #58c1c8;
  --color-tag-3: #f2e8c4;
  --color-tag-4: #76e1c6;

  --button-color-blue: #0457CD;

  --toast-error-bg: #fdeded; 
  --toast-error-text: #5f2120;

  --toast-success-bg: #edf7ed;
  --toast-success-text: #1e4620;

  --toast-warning-bg: #fff4e5;
  --toast-warning-text: #663c00;

  --toast-infor-bg: #e5f6fd;
  --toast-infor-text: #014361;

  --font-text-SSP: "Source Sans Pro" , sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Merienda", "Courier Prime", "Source Sans Pro", sans-serif ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root .ql-container {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background: #fefcfc;
  color: black;
}

/* Snow Theme */
#root .ql-snow.ql-toolbar {
  display: block;
  background: #eaecec;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  color: black;
}

#root .ql-editor {
  min-height: 18em;
}

.blog-content figure img {
  width: auto !important; /* Keeps CKEditor styles */
  max-width: none !important;
}

.blog-content img {
  max-width: 100%; /* Ensures responsiveness */
  height: auto;
}

.ck-content img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
